.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  display: block;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 464px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  border-radius: 4px;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 14px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  text-decoration: none;
}

.modal-close:hover {
  color: #005285;
}

.modal-window:hover {
  color: black;
}

.modal-window input, textarea {
  width: 400px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  margin-bottom: 25px;
}

.modal-window input[type="submit"] {
  background-color: #036;
  color: white;
  cursor: pointer;
  margin-bottom: 0;
}
.modal-window input[type="submit"]:hover {
  background-color: #005285;
}

.modal-window textarea {
  height: 150px;
}